body{
    font-family: 'Oswald', sans-serif;
}

#colors{
    height: 120px;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
}
#kleur1{
    height: 120px;
    width: 120px;
    background-color: rgb(120, 186, 86);
    float: left;
    margin-left: 20px;
}
#kleur2{
    height: 120px;
    width: 120px;
    background-color:rgb(255, 214, 74);
    float: left;
    margin-left: 20px;
}
#kleur3{
    height: 120px;
    width: 120px;
    background-color:rgb(71, 88, 164);
    float: left;
    margin-left: 20px;
}
#kleur4{
    height: 120px;
    width: 120px;
    background-color: rgb(179, 63,60);
    float: left;
    margin-left: 20px;
}
#kleur5{
    height: 120px;
    width: 120px;
    background-color:rgb(67, 67, 67);
    float: left;
    margin-left: 20px;
}



#buttons{
float: left;
}
#button1{
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    width: 150px;
    height: 24px;
    background-color: rgb(120, 186, 86);
}
#button2{
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    width: 150px;
    height: 24px;
    background-color: rgb(255, 214, 74);
}
#button3{
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    width: 150px;
    height: 24px;
    background-color: rgb(71, 88, 164);
}
#button4{
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    width: 150px;
    height: 24px;
    background-color: rgb(179, 63,60);
}
#groteButton{
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 30px 0;
    color: #FFFFFF;
    width: 120px;
    height: 60px;
    background-color: rgb(120, 186, 86);
}
#buttonsInfoKlein{
    margin-left: 180px;
    margin-top: 60px;
}
#buttonsInfoGroot{
    margin-left: 180px;
    margin-top: 40px; 
}



#text{
    font-size: 18px;
    float: left;
    width: 800px;
    line-height: 26px;
}
#kleineText{
    margin-top: 40px;
    color: rgb(67, 67, 67);
}
#textTitel{
    font-size: 50px;
    float: left;
    line-height: 50px;
    color: rgb(67, 67, 67);
}
#kleineTextInfo{
    margin-left: 850px;
    margin-top: 190px;
    height: 200px;
}
#titelInfo{
    margin-left: 100px;
    margin-top: 25px; 
}



#header{
    background-color:  rgb(120, 186, 86);
    height: 170px;
    width: 1050px;
    position: relative;
}
#logoHeader{
    height: 150px;
    width: auto;
    margin-left: 80px; 
    margin-top:15px;
    position: sticky;
}
#kalenderIcon{
    height: 80px;
    width: auto;
    margin-left: 80px;
    margin-bottom: 60px;
}
#nieuwsIcon{
    height: 80px;
    width: auto;
    margin-left: 80px;
    margin-bottom: 60px;
}
#helpIcon{
    height: 80px;
    width: auto;
    margin-left: 80px;
    margin-bottom: 60px;
}
#contactIcon{
    height: 80px;
    width: auto;
    margin-left: 80px;
    margin-bottom: 60px;
}
#headerAgenda{
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    top: -80px;
    margin-left: 90px;
}
#headerNieuws{
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    top: -124px;
    margin-left: 255px;
}
#headerInfo{
    height: 50px;
    width: 100px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    top: -168px;
    margin-left: 735px;
}
#headerContact{
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    top: -238px;
    margin-left: 915px;
}



#article{
    background-color:rgb(179, 63,60);
    width: 800px;
    height: 500px;
    border-radius: 10px;
    position: relative;
}
#articleWhiteBG{
    background-color: #FFFFFF;
    width: 770px;
    height: 470px;
    border-radius: 10px;
    margin-left: 15px;
    top: 15px;
    position: relative;
}
#articleImage{
    float: left;
    border-radius: 10px;
    width: 200px;
    height: auto;
    margin-left: 15px;
    margin-top: 15px;
}
#articleTitel{
    margin: 0;
    font-size: 50px;
    padding-top: 25px;
    padding-left: 230px;
    color: rgb(67, 67, 67);
}
#articleTekst{
    font-size: 18px;
    line-height: 26px;
    width: 540px;   
    margin-left: 230px;
    color: rgb(67, 67, 67);
}